@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}
* {
  cursor: default !important;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}


:root {
  --timeScroll: 5s;
}

@keyframes marquee {
  0% {
      transform: translate3d(0, 0, 0);
      visibility: visible;
  }
  100% {
      transform: translate3d(-100%, 0, 0);
  }
}

.marquee-rtl {
  animation: marquee var(--timeScroll) infinite linear;
  animation-delay: 0.5s;
}

@keyframes marquee-ltr {
  0% {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  100% {
      transform: translate3d(0, 0, 0);
  }
}

.marquee-ltr {
  animation: marquee-ltr var(--timeScroll) infinite linear;
  animation-delay: 2s;
}

.styled-text {
  position: relative;
  display: inline-block;
  padding-right: 1ch; /* Ensures space for the pseudo-element */
}

.styled-text::after {
  content: '*'; /* Insert the character */
  position: absolute;
  right: 0;
  color: red; /* Style the last character */
  font-weight: bold; /* Example styling */
}


/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8787879d;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f89ec;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9dcbffe8;
}

.loading-indicator-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.loading-indicator-container.visible {
  opacity: 1;
}

.loading-indicator {
  height: 3px;
  background: #007bff;
  width: 100%;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% { width: 0; }
  50% { width: 50%; }
  100% { width: 100%; }
}
/* Hide default browser loading indicator */
html {
  scroll-behavior: smooth;
}

.NISIDEPRIVACY{
  padding: 0 1rem;
}
.ABCPrivacy{
  /* text-xl font-semibold mt-4 mb-2 */
  font-size: larg;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;

}
.OneTwoThreePrivacy{
  /* text-2xl font-semibold mt-6 mb-2 */
  font-size: larger;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0 0.2rem;
}